body {
  height: 100%;
    font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

p {
  font: 16px/22px Nunito, Helvetica, serif;
  font-weight: 400;
}

a {
    text-decoration: none;
    color: #333;
    &:hover {
        color: #888;
    }
}

tr {
    .btn {
        font-size: 12px;
    }
}
